<%- include ('_layouts/header') -%>
<center>
  <div>
    <i class="fa fa-map-marker" style="font-size: x-large"></i>
    <p style="font-size: medium">
      Hostel J , NIT Jamshedpur, <br />
      Adityapur, Jamshedpur 831014
    </p>
  </div>
  <br />
  <div>
    <i style="font-size: x-large" class="fa fa-phone"></i>
    <p style="font-size: medium">9931334326</p>
  </div>
  <br />
  <div>
    <i style="font-size: x-large" class="fa fa-envelope"></i>
    <p style="font-size: medium">
      <a href="mailto:sumitkv31@gmail.com ">sumitkv31@gmail.com </a>
    </p>
    <br />
  </div>
</center>
<%- include ('_layouts/footer') -%>
